<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>G. C Multiplicativo</title>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="gcMultiplicativo.js"></script>

  <style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }
  </style>
</head>
<body ng-app="gcapp" ng-controller="main">
  <table>
    <tr>
      <td>
         <label for="">a: </label>
      </td>
        <td>
         <input type="number"  ng-model="valores.a">
        </td>
    </tr>
    <tr>
      <td>
         <label for="">x0: </label>
      </td>
        <td>
         <input type="number" ng-model="valores.x0">
        </td>
    </tr>
    <tr>
      <td>
         <label for="">m: </label>
      </td>
        <td>
         <input type="number" ng-model="valores.m">
        </td>
    </tr>
    <tr>
      <td>
         <button onclick="location.reload()">Limpiar</button>
      </td>
        <td>
         <input type="BUTTON" ng-click="enviarvalores()" value="Enviar">
        </td>
    </tr>
    <tr>
      <td>P.E.</td>
      <td><input type="TEXT" ng-model="pe" disabled></td>
    </tr>
  </table>

  <h2>Tabla de resultados</h2>
  <table>
    <tr>
      <td>n</td>
      <td>x0</td>
      <td>(ax0) mod m</td>
      <td>xn + 1</td>
      <td>Números rectangulares</td>
    </tr>

    <tr ng-repeat="fila in tablaLlena">
      <td>{{fila.n}}</td>
      <td>{{fila.x0}}</td>
      <td>{{fila.operacion}} + {{fila.xn}} / {{fila.m}}</td>
      <td>{{fila.xn}}</td>
      <td> {{fila.xn}} / {{fila.m}} = {{fila.numero}}</td>
    </tr>

  </table>
  <h3 ng-if="confiable">Por lo tanto, Generador congruencial Multiplicativo  confiable</h3>
  <h3 ng-if="noconfiable">Por lo tanto, Generador congruencial Multiplicativo no  confiable</h3>
  </body>

  </html>
 
