<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Volados</title>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/sweetalert/dist/sweetalert.css">
    <script src="Volados.js"></script>
</head>
<body ng-app="app" ng-controller="main">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  class="navbar-brand" href="#">Simulador de volados</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Cantidad Inicial ${{cantidadInicial}}</a></li> 
        <li class="active"><a href="#">Meta ${{meta}}</a></li> 
        <li class="active"><a href="#">Apuesta ${{apuesta}}</a></li>
        <li class="active" ng-if="tipoCorrida == 1"><a href="#">Tipo de Corrida: Por Número de Corrida</a></li>
         <li class="active" ng-if="tipoCorrida == 1"><a href="#">Corridas: {{numeroCorridas}} </a></li>
        <li class="active" ng-if="tipoCorrida == 2"><a href="#">Tipo de Corrida: Por Números Aleatorios</a></li>
        <li class="active" ng-if="tipoCorrida == 2"><a href="#">Números a generar: {{numerosAleatorios}}</a></li>
      </ul> 
         <button type="button" class="btn btn-danger navbar-btn navbar-right" ng-click="iniciarSimulacion()" >Inicial Simulación</button>
        <button type="button" class="btn btn-info navbar-btn navbar-right" data-toggle="modal" data-target="#myModal">Cambiar Variables</button> 
    </div>
 </nav>

 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cambiar variables</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Cantidad Inicial:</label>
          <input type="text" class="form-control"  placeholder="00.00" ng-model="configuracionVariables.cantidadInicial">
        </div>
      <div class="form-group">
        <label for="">Meta:</label>
        <input type="text" class="form-control"  placeholder="00.00"  ng-model="configuracionVariables.meta"> 
      </div>
      <div class="form-group">
        <label for="">Apuesta:</label>
        <input type="text" class="form-control"  placeholder="00.00" ng-model="configuracionVariables.apuesta">
      </div>
      <div class="form-group">
        <label for="">Tipo de Corrida:</label>
        <select  ng-model="configuracionVariables.tipo">
          <option value="1" >Número de Corrida</option>
          <option value="2" >Números Aleatorios</option>
        </select>
      </div>
       <div class="form-group" ng-if="configuracionVariables.tipo > 0">
        <label for="" ng-if="configuracionVariables.tipo == 1">Número de Corridas:</label>
        <label for="" ng-if="configuracionVariables.tipo == 2">Cantidad de Números:</label>
        <input type="text" class="form-control"  placeholder="00.00" ng-model="configuracionVariables.n">
      </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="modificarVariables()">Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

  </div>
</div>

<div class="container-fluid">
    <table class="table table-bordered track by $index">
        <tr>
            <td>Número de Corrida</td>
            <td>Cantidad que se tiene antes del volado</td>
            <td>Apuesta</td>
            <td>Número Aleatorio</td>
            <td>¿Se ganó el volado?</td>
            <td>¿Cantidad que se tiene después del volado?</td>
            <td>¿Se llegó a la meta?</td>
        </tr>
        <tr ng-repeat=" renglon in tabla">
            <td>{{renglon.nc}}</td>
            <td>{{renglon.cav}}</td>
            <td>{{renglon.apuesta}}</td>
            <td>{{renglon.naleatorio}}</td>
            <td>
              <div ng-if="renglon.segano">
                <img src="../assets/happy.png" alt="">
                Sí
              </div>
              <div ng-if="renglon.segano == false">
                <img src="../assets/sad.png" alt="">
                No
              </div>
              
            </td>
            <td>{{renglon.cdv}}</td>
            <td>
              <div ng-if="renglon.llegameta">
                <img src="../assets/get-money.png" alt="">
                Meta
              </div>
              <div ng-if="renglon.llegameta === false">
                <img src="../assets/student.png" alt="">
                Quiebra
              </div>
            </td>
        </tr>
    </table>
</div>

<div class="container-fluid">
  <div class="col-md-12">
    <button ng-if="verResultados" class="btn btn-info" data-toggle="modal" data-target="#resultados">Ver resultados</button>
    <button ng-if="verResultados" class="btn btn-warning" onclick="location.reload()">Limpiar</button>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="resultados" tabindex="-1" role="dialog" aria-labelledby="resultados" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultados">Resultados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Probabilidad de llegar a la Meta</label>
        <p>{{probabilidadLlegarMeta}} %</p>
        <label for="">Probabilidad de llegar a la Quiebra</label>
        <p>{{100 - probabilidadLlegarMeta}} %</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
