<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>G. C Mixto</title>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="gcMixtoScript.js"></script>

  <style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }
  </style>
</head>
<body ng-app="gcapp" ng-controller="main">
<div class="container-fluid">
<a class="btn btn-danger" href="../index.html">Volver</a>
<div class="row">
<div class="col-md-4">
  <table class="table table-bordered table-hover table-condensed">
    <tr>
      <td>
         <label for="">a: </label>
      </td>
        <td>
         <input type="number"  ng-model="valores.a">
        </td>
    </tr>
    <tr>
      <td>
         <label for="">x0: </label>
      </td>
        <td>
         <input type="number" ng-model="valores.x0">
        </td>
    </tr>
    <tr>
      <td>
         <label for="">c: </label>
      </td>
        <td>
         <input type="number" ng-model="valores.c">
        </td>
    </tr>
    <tr>
      <td>
         <label for="">m: </label>
      </td>
        <td>
         <input type="number" ng-model="valores.m">
        </td>
    </tr>
    <tr>
      <td>
         <button class="btn btn-warning" onclick="location.reload()">Limpiar</button>
      </td>
        <td>
         <input class="btn btn-info" type="BUTTON" ng-click="enviarvalores()" value="Enviar">
        </td>
    </tr>
  </table>
  </div>
</div>

<div class="row">
<div class="col-md-4">
  <h2>Tabla de resultados</h2>
  <table class="table table-bordered table-hover table-condensed">
    <tr>
      <td class="success">n</td>
      <td class="success">x0</td>
      <td class="success">(ax0 + c) mod m</td>
      <td class="success">xn + 1</td>
      <td class="success">Números rectangulares</td>
    </tr>

    <tr ng-repeat="fila in tablaLlena">
      <td>{{fila.n}}</td>
      <td>{{fila.x0}}</td>
      <td>{{fila.operacion}} + {{fila.xn}} / {{fila.m}}</td>
      <td>{{fila.xn}}</td>
      <td> {{fila.xn}} / {{fila.m}} = {{fila.numero}}</td>
    </tr>

  </table>
</div>
  </div>
  <h3 ng-if="confiable">Por lo tanto, Generador congruencial mixto  confiable</h3>
  <h3 ng-if="noconfiable">Por lo tanto, Generador congruencial mixto no  confiable</h3>
  </div>
  </body>

  </html>
 
