<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pfinal</title>
	<script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/sweetalert/dist/sweetalert.css">
	<script src="Pfinal.js"></script>
	<style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }

    .navbar-custom {
    color: #FFFFFF;
    background-color: #38A1FF;
	}
  	</style>
</head>
<body ng-app="app" ng-controller="controller">
	<!--<table>
		<tr>
			<td>x</td>
			<td>f(xi)</td>
			<td>F(xi)</td>
		</tr>

		<tr ng-repeat="f in tabla track by $index">
			<td>{{f.x}}</td>
			<td>{{f.ufxi}}</td>
			<td>{{f.mfxi}}</td>
		</tr>
	</table>-->
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  class="navbar-brand" href="#">Proyecto Final</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Lambda: {{dataS.vlambda}}</a></li> 
        <li class="active"><a href="#">a: {{dataS.a}}</a></li> 
        <li class="active"><a href="#">b: {{dataS.b}}</a></li>
        <li class="active"><a href="#">Horas: {{dataS.corridas}}</a></li>
      </ul> 
         <button type="button" class="btn btn-danger navbar-btn navbar-right" ng-click="ejecutar()" >Iniciar Simulación</button>
        <button type="button" class="btn btn-info navbar-btn navbar-right" data-toggle="modal" data-target="#modal">Cambiar Variables</button> 
    </div>
 </nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-warning" ng-repeat="f in objetos">
					<div class="panel-heading">
						Tiempo actual: {{f.hora}} hora(s) {{f.tiempo}} minutos
					</div>
					<div class="panel-body">
						<p>Clientes en los lotes actualmente: {{f.clientesActualesEnLotes}}</p>
						<hr>
						<p>Clientes que salieron: </p>
						<ul ng-repeat="k in f.clientesSalen track by $index">
							<li>Cliente {{k.cliente}}[{{k.lote}}] del lote {{k.lote}} con tiempo de {{k.tiempo}} minutos</li>
						</ul>
						<p>Espacios disponibles: {{f.espaciosDisponibles}}</p>
						<hr>
						<p>Tiempo restante de los Clientes: </p>
						<ul ng-repeat="t in f.tiempoRestanteClientesEnLotes track by $index">
							<li>Al cliente en el lote {{t.lote}} le restan: {{t.min}} minuto(s)</li>
						</ul>
						<hr>
						<p>N.° de clientes que llegan a los {{f.tiempo}} minutos: {{f.clientesLleganKminutos}}</p>
						<ul ng-repeat="l in f.clientesLlegan track by $index">
							<li>Tiempo del cliente {{l.cliente}}[{{l.num}}] = {{l.tiempo}} minutos</li>
						</ul>
						<hr>
						<p>Clientes que entraron: </p>
						<ul ng-repeat="j in f.clientesEntran track by $index">
							<li>Entra el cliente {{j.cliente}}[{{j.num}}] en el lote {{j.lote}} con tiempo de {{j.tiempo}} minutos</li>
						</ul>
						<hr>
						<p>Porcentaje de espacios disponibles: {{f.pEspaciosDisponibles}} %</p>

					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						Resultados
					</div>
					<div class="panel-body">
						<!--<p>Clientes totales que llegaron: {{objetoInfo.clientesTotalesL}}</p>
						<p>Clientes totales que entraron: {{objetoInfo.clientesTotalesE}}</p>
						<p>Clientes totales que no entraron: {{objetoInfo.clientesTotalesNE}}</p>
						<p>Espacios disponibles totales: {{objetoInfo.espaciosDisponiblesT}}</p>
						<p>Espacios ocupados totales: {{objetoInfo.espaciosOcupadosT}}</p>
						-->
						<p>Porcentaje de clientes perdidos: {{objetoInfo.pClientesP}} %</p>
						<p>Porcentaje promedio de espacios disponibles: {{objetoInfo.pEspaciosD}} %</p>
						<p>Probabilidad de encontrar un lugar disponible: {{objetoInfo.pEncontrarLugarDreal}} %</p>
						<hr>
						<button ng-if="verResultados" class="btn btn-info" data-toggle="modal" data-target="#resultados">Ver graficas</button>
    					<button ng-if="verResultados" class="btn btn-warning" onclick="location.reload()">Limpiar</button>
					</div>
				</div>
			</div>


		</div>
	</div>

	<div id="modal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Cambiar variables</h4>
	      </div>
	      <div class="modal-body">
	        <label>Lambda</label>
	         <input type="text" class="form-control" placeholder="Lambda" ng-model="dataS.vlambda">
	         <label>Rango menor a</label>
	         <input type="text" class="form-control" placeholder="Rango menor a" ng-model="dataS.a">
	         <label>Rango mayor b</label>
	         <input type="text" class="form-control" placeholder="Rango mayor b" ng-model="dataS.b">
	         <label>Horas transcurridas</label>
	         <input type="text" class="form-control" placeholder="Horas transcurridas" ng-model="dataS.corridas">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<!-- Modal -->
<div class="modal fade" id="resultados" tabindex="-1" role="dialog" aria-labelledby="resultados" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultados">Resultados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">Porcentaje de clientes perdidos</label>
        <p>{{objetoInfo.pClientesP}} %</p>
        <label for="">Porcentaje promedio de espacios disponibles</label>
        <p>{{objetoInfo.pEspaciosD}} %</p>
        <label>Probabilidad de encontrar un lugar disponible</label>
        <p>{{objetoInfo.pEncontrarLugarD}} %</p>

        <div> 

          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>

</body>
</html>