<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="PEFrecuencias.js"></script>
  <style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }
   </style>

</head>
<body ng-app="app" ng-controller="main">
<a href="../index.html">Volver</a>
  <table>
    <tr>
      <td>Cantidad de números</td>
      <td><input type="TEXT" ng-model="dataS.numeros"></td>
    </tr>
    <tr>
      <td>alfa</td>
      <td><input type="TEXT" ng-model="dataS.alfa"></td>
    </tr>
    <tr>
      <td>n</td>
      <td><input type="TEXT" ng-model="dataS.n"></td>
    </tr>
    <tr>
      <td> <button onclick="location.reload()">Limpiar</button> </td>
      <td><button ng-click="generar()">Generar</button></td>
    </tr>
  </table>

  <table>
    <tr>
      <td>Números generados</td>
    </tr>
    <tr ng-repeat="numero in listaNumeros">
      <td>{{numero}}</td>
    </tr>
  </table>

  <table>
    <tr>
      <td>FEi</td>
      <td ng-repeat="f in listaFeo track by $index">{{feivalor}}</td>
    </tr>
    <tr>
      <td>FEo</td>
      <td ng-repeat="f in listaFeo track by $index">{{f}}</td>
    </tr>
  </table>

  <div ng-if="habilitarCaptura">
    <p>Ingrese X <span style="vertical-align:super">2</span>
    <span style="vertical-align:vertical-align:sub">{{dataS.alfa/100}}, {{dataS.n - 1}}</span>
    </p>
    <input type="TEXT" ng-model="xalfa.x">
    <button ng-click="obtenerResultado()">Enviar</button>
  </div>

  <div ng-if="habilitarResultado">
  <table>
    <tr>
      <td>Resultados</td>
    </tr>
    <tr>
      <td>
    <p> X<span style="vertical-align:super">2</span>
    <span style="vertical-align:vertical-align:sub">0</span>  es {{x20Final}}</p> 
      </td>
    </tr>
    <tr>
      <td>
    <p> X<span style="vertical-align:super">2</span>
    <span style="vertical-align:vertical-align:sub">0</span>
    < X<span style="vertical-align:super">2</span>
    <span style="vertical-align:vertical-align:sub">{{dataS.alfa/100}}, {{dataS.n - 1}}</span>
    </p>
      </td>
    </tr>
    <tr>
      <td>{{x20Final}} < {{xalfa.x}}</td>
    </tr>
    <tr>
      <td>{{resutadoFinal}}</td>
    </tr>
  </table>  
  </div>
</body>
</html>
