<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="PESeries.js"></script>
  <style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }
   </style>
  </head>
  <body ng-app="app" ng-controller="main">

  <table>
    <tr>
      <td>Cantidad de Números</td>
      <td><input type="text" ng-model="dataS.numeros"></td>
    </tr>
    <tr>
      <td>Alfa</td>
      <td><input type="text" ng-model="dataS.alfa"></td>
    </tr>
    <tr>
      <td>N</td>
      <td><input type="text" ng-model="dataS.n"></td>
    </tr>
    <td></td>
    <td><button ng-click="ejecutar()">Generar</button></td>
  </table>

  <table>
    <tr>
      <td><p>Números Generados</p></td>
    </tr>
    <tr   ng-repeat="n in listaNumeros">
      <td > {{n}}</td>
    </tr>
  </table>

  <table>
    <tr>
        <td><p>Parejas</p></td>
    </tr>  
    <tr  ng-repeat="v in listaDeParejas"> 
      <td >{{v}}</td>
    </tr>
  </table>
  <table>
    <tr ng-repeat="r in tabla track by $index">
      <td>{{r.cordx}}</td>
      <td>{{r.cordy}}</td>
      <td>{{r.punto}}</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Intervalos</td>
    </tr>
    <tr ng-repeat="int in tablaInterv track by $index">
      <td>{{int}}</td>
    </tr>
  </table>
  </body>
</html>
