<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="PEPromedio.js"></script>
  <style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }
   </style>
</head>
<body ng-app="app" ng-controller="main">

  <table>
    <tr>
      <td>Cantidad de Números</td>
      <td><input type="text" ng-model="dataRecibida.numeros"></td>
    </tr>
    <tr>
      <td>Alfa</td>
      <td><input type="text" ng-model="dataRecibida.alfa"></td>
    </tr>
    <td> <button onclick="location.reload()">Limpiar</button></td>
    <td><button ng-click="ejecutar()">Generar</button></td>
  </table>

  <h1>Números</h1>
  <table>
    <tr>
      <td><p>Números Generados</p></td>
    </tr>
    <tr ng-repeat="n in tablaNG">
      <td> {{n.numero}}</td>
    </tr>
  </table>
  <div ng-if="habilitarPregunta">
  <p>El valor de z0 es {{zcero}}</p>
    <p>Por favor ingrese valor de Z{{zalfa}}</p>
    <input type="text" ng-model="zintroducida.z">
    <button ng-click="obtenerResultado()">Enviar</button>
  </div>
  <h1>Resultados</h1>
  <div ng-if="habilitarResultado">
   <table>
     <tr>
       <td><p>Zo < Z{{zalfa}}</p></td>
       <td>{{zcero < zintroducida.z}}</td>
     </tr>
     <tr>
       <td><p> {{zcero}} < {{zintroducida.z}} </p></td>
       <td>{{zcero < zintroducida.z}}</td>
     </tr>
   </table>
    <p>{{resultadoFinal}}</p>
  </div>
</body>
</html>
