<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DUniforme</title>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="Duniforme.js"></script>
  <style>
    table{
        border: black 1px solid;
    }
    td{
        border: black 1px solid;
    }   

    tr{
        border: black 1px solid;
    }
   </style>
</head>
<body ng-app="app" ng-controller="main">
  <table>
    <tr>
      <td>Cantidad de numeros</td>
      <td><input type="TEXT" ng-model="dataS.n"></td>
    </tr>
    <tr>
      <td>A</td>
      <td><input type="TEXT" ng-model="dataS.a"></td>
    </tr>
    <tr>
      <td>B</td>
      <td><input type="TEXT" ng-model="dataS.b"></td>
    </tr>
    <tr>
      <td><button onclick="location.reload()">Limpiar</button></td>
      <td><button ng-click="ejecutar()">Enviar</button></td>
    </tr>
  </table> 
 <table>
  <tr>
    <td>Números generados</td>
  </tr>
  <tr ng-repeat="numero in listaNg track by $index">
    <td>{{$index + 1}}, {{numero}}</td>
  </tr>
 </table>
 <table>
   <tr>
     <td>Tiempos por numero</td>
   </tr>
   <tr ng-repeat="numero in listaTs track by $index">
     <td>Tiempo {{$index + 1}},  {{numero}}</td>
   </tr>
 </table>
 <table>
   <tr>
     <td>Tiempo total</td>
     <td>{{valorTtoc }}</td>
   </tr>
   <tr>
     <td>Tiempo Promedio</td>
     <td>{{valorTpac }}</td>
   </tr>
 </table>
</body>
</html>
